#protection-kun-obi {
    position: fixed;
    height: var(--protection-kun-obi-size, 35px);
    line-height: var(--protection-kun-obi-size, 35px);
    top: 0;
    left: 0;
    right: 0;
    color: #000000;
    z-index: 999999;
    text-align: center;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

#protection-kun-obi[data-type="prod"] {
    background-color: var(--protection-kun-color-prod, #ff0000);
    color: var(--protection-kun-text-color-prod, #000000);
}

#protection-kun-obi[data-type="stg"] {
    background-color: var(--protection-kun-color-stg, #00ff00);
    color: var(--protection-kun-text-color-stg, #000000);
}

#protection-kun-obi-close-button {
    pointer-events: auto;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: #000000;
    padding: 4px 10px;
    border-radius: 8px;
}